.th-header {
    position: relative;
    z-index: 41;
}

.sticky-wrapper {
    transition: 0.4s ease-in-out;
    &.sticky {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: $white-color;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
        animation: stickyAni 0.4s ease-in-out;
    }
}

@keyframes stickyAni {
    0% {
        transform: translate3d(0, -40px, 0) scaleY(0.8);
        opacity: 0.7;
    }
    100% {
        transform: translate3d(0, 0, 0) scaleY(1);
        opacity: 1;
    }
}

.main-menu {
    a {
        display: block;
        position: relative;
        font-weight: 600;
        font-size: 16px;
        color: $dark-color;
        &:hover {
            color: $theme-color;
        }
    }

    > ul {
        > li {
            margin: 0 14px;
            > a {
                padding: 42px 0;
                color: $white-color;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            position: relative;

            &.menu-item-has-children {
                > a {
                    &:after {
                        content: "\2b";
                        position: relative;
                        font-family: $icon-font;
                        margin-left: 4px;
                        font-weight: 600;
                        top: 0;
                        font-size: 14px;
                        display: inline-block;
                        transition: 0.4s all ease;
                        transform: rotate(0deg);
                    }
                }
                &:hover {
                    > a {
                        &:after {
                            content: "\f068";
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            &:last-child {
                margin-right: 0 !important;
            }

            &:first-child {
                margin-left: 0 !important;
            }

            &:hover {
                > ul.sub-menu {
                    visibility: visible;
                    opacity: 1;
                    transform: scaleY(1);
                    z-index: 9;
                }
            }
        }
    }

    ul.sub-menu {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background-color: $white-color;
        visibility: hidden;
        min-width: 190px;
        width: max-content;
        padding: 7px;
        left: -14px;
        opacity: 0;
        z-index: -1;
        border: 0;
        box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
        border-radius: 0;
        transform: scaleY(0);
        transform-origin: top center;
        transition: all 0.4s ease 0s;

        a {
            font-size: 16px;
            line-height: 30px;
            span {
                font-size: 12px;
                padding: 0px 5px;
                margin-left: 4px;
                background-color: $theme-color;
                color: $white-color;
                padding: 2px 5px;
                border-radius: 4px;
                position: relative;
                top: -1px;
            } 
        }
    }

    ul.sub-menu {
        padding: 18px 20px 18px 18px;
        left: -27px;
        li {
            display: block;
            margin: 0 0;
            padding: 0px 9px;

            &.menu-item-has-children {
                > a:after {
                    content: "\2b";
                    float: right;
                    top: 1px;
                }
                &:hover {
                    > a:after {
                        content: "\f068";
                    }
                }
            }

            a {
                position: relative;
                padding-left: 0px;
                text-transform: capitalize;

                &:before {
                    content: "\f105";
                    position: absolute;
                    top: 6px;
                    left: 10px;
                    font-family: $icon-font;
                    width: 11px;
                    height: 11px;
                    text-align: center;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 16px;
                    line-height: 1;
                    color: $theme-color;
                    font-weight: 600;
                    opacity: 0;
                    transition: 0.4s;
                }
                &:hover {
                    padding-left: 20px;
                    &:before {
                        opacity: 1;
                        left: 0;
                    }
                }
            }

            ul.sub-menu {
                left: 100%;
                right: auto;
                top: 0;
                margin: 0 0;
                margin-left: 20px;

                li {
                    ul {
                        left: 100%;
                        right: auto;
                    }
                }
            }
        }
    }
}

.simple-icon {
    border: none;
    background-color: transparent;
    color: $title-color;
    padding: 0;
    font-size: 22px;
    position: relative;
    .badge {
        padding: 0.20em 0.40em;
        font-size: 0.5em;
        top: -4px;
        right: -10px;
    }
    &:has(.badge) {
        padding-left: 8px;
        i {
            transform: rotateY(180deg);
        }
    }
}

.header-button {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    .th-btn {
        margin-left: 10px;
    }
}
.social-links {
    .social-title {
        font-weight: 500;
        font-size: 16px;
        display: inline-block;
        margin: 0 10px 0 0;
        color: $body-color;
    }

    a {
        font-size: 14px;
        display: inline-block;
        color: $body-color;
        margin: 0 20px 0 0;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $theme-color;
        }
    }
}
.header-logo {
    padding-top: 15px;
    padding-bottom: 15px;
}
.header-links {
    > ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    li {
        display: inline-block;
        position: relative;
        font-size: 16px;
        font-weight: 400;

        &:not(:last-child) {
            margin: 0 55px 0 0;
            &:after {
                content: '';
                height: 20px;
                width: 2px;
                background-color: $body-color;
                opacity: 0.15;
                position: absolute;
                top: 2px;
                right: -30px;
            }
        }
        > i {
            margin-right: 10px;
            color: $theme-color;
        }
    }
    li,
    span,
    p,
    a {
        color: $body-color;
    }
    a:hover {
        color: $theme-color;
    }
    b,
    strong {
        font-weight: 600;
        margin-right: 6px;
    }
}
.header-info {
    display: flex;
    gap: 12px;
    align-items: center;
    --body-color: #6F6E77;
    .icon {
        font-size: 35px;
        color: $theme-color;
    }
    .header-info-title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0;
        color: $white-color;
    }
    .header-info-link {
        font-size: 14px;
        font-weight: 500;
        color: $border-color;
    }
}
.dropdown-link {
    position: relative;
    > a {
        color: $white-color;
        font-weight: 500;
        display: flex;
        align-items: center;
        img {
            margin-right: 10px;
        }
    }
}

.dropdown-toggle::after {
    content: "\f107";
    border: none;
    font-family: var(--icon-font);
    vertical-align: middle;
    font-weight: 400;
    margin-left: 6px;
}
.dropdown-menu {
    width: fit-content;
    min-width: auto;
    top: calc(100% + 12px) !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    padding: 8px 20px !important;
    text-align: center;
    border-color: $border-color;
    li {
        padding-right: 0;
        margin-right: 0;
        &:after {
            display: none;
        }
        a {
            display: block;
        }
    }
    a {
        color: $title-color !important;
        &:hover {
            color: $theme-color !important;
        }
    }
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: -7px;
        width: 14px;
        height: 14px;
        margin-left: -7px;
        background-color: var(--white-color);
        z-index: -1;
        transform: rotate(45deg);
        border-top: 1px solid $border-color;
        border-left: 1px solid $border-color;
    }
}

.header-top {
    padding: 11.5px 0;
    background-color: $title-color;
    --body-color: #fff;
    a {
        &:hover {
            color: $theme-color;
        }
    }
}
/* Header 1 ---------------------------------- */
.header-layout1 {
    .sticky-wrapper {
        background: transparent;
        position: absolute;
        left: 0;
        top: 0px;
        right: 0;
        border-bottom: 1px solid #363739;
        padding: 0 68px;
        &.sticky {
            position: fixed;
            top: 0;
            background: $dark-color;
            .header-logo {
                margin-top: 0;
            }
        }
    }
    .main-menu {
        > ul > li {
            > a {
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 45px;
                    width: 0;
                    height: 2px;
                    background: $theme-color;
                    transition: 0.4s;
                }
                
                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
            &.menu-item-has-children {
                > a {
                    &:hover {
                        &:before {
                            width: calc(100% - 15px);
                        }
                    }
                }
            }
        }
    }
    .header-button {
        height: 100px;
        padding-left: 40px;
        .simple-icon {
            color: $white-color;
        }
    }
}
@include ml {
    .header-layout1 {
        .sticky-wrapper {
            padding: 0 40px;
        }
        .main-menu {
            margin-left: 30px;
        }
    }
}
@media (max-width: 1200px) {
    .header-layout1 {
        .header-button .th-btn {
            display: none;
        }
        .main-menu {
            margin-left: 0px;
            a {
                font-size: 14px;
            }
        }
    }
}
@include md {
    .header-layout1 {
        .sticky-wrapper {
            top: 0;
            padding: 9px 20px;
        }
        .header-logo {
            margin-top: 0px;
        }
    }
}
@include xs {
    .header-layout1 .sticky-wrapper {
        padding: 4px 0;
    }
}

/* Header 2 ---------------------------------- */
.header-layout2 {
    .sticky-wrapper {
        background: transparent;
        position: absolute;
        left: 0;
        top: 0px;
        right: 0;
        border-bottom: 0;
        padding: 0 68px;
        &.sticky {
            position: fixed;
            top: 0;
            background: $dark-color;
            .header-logo {
                margin-top: 0;
            }
        }
    }
    .main-menu {
        > ul > li {
            > a {
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 45px;
                    width: 0;
                    height: 2px;
                    background: $theme-color;
                    transition: 0.4s;
                }
                
                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
            &.menu-item-has-children {
                > a {
                    &:hover {
                        &:before {
                            width: calc(100% - 15px);
                        }
                    }
                }
            }
        }
    }
    .header-button {
        height: 100px;
        padding-left: 40px;
        .simple-icon {
            color: $white-color;
        }
    }
}
@include ml {
    .header-layout2 {
        .sticky-wrapper {
            padding: 0 40px;
        }
        .main-menu {
            margin-left: 30px;
        }
    }
}
@media (max-width: 1200px) {
    .header-layout2 {
        .header-button .th-btn {
            display: none;
        }
        .main-menu {
            margin-left: 0px;
            a {
                font-size: 14px;
            }
        }
    }
}
@include md {
    .header-layout2 {
        .sticky-wrapper {
            top: 0;
            padding: 9px 20px;
        }
        .header-logo {
            margin-top: 0px;
        }
    }
}
@include xs {
    .header-layout2 .sticky-wrapper {
        padding: 4px 0;
    }
}
