.shape-mockup-wrap {
    z-index: 2;
    position: relative;
}
.shape-mockup {
    position: absolute;
    z-index: -1;
    &.z-index-2 {
        z-index: 2;
    }
    &.z-index-3 {
        z-index: 3;
    }

}

.z-index-step1 {
    position: relative;
    z-index: 4 !important;
}

.z-index-common {
    position: relative;
    z-index: 3;
}

.z-index-3 {
    z-index: 3;
}

.z-index-n1 {
    z-index: -1;
}
.z-index-n2 {
    z-index: -2;
}
.media-body {
    flex: 1;
}

.badge {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    text-align: center;
    background-color: $theme-color;
    color: $white-color;
    padding: 0.25em 0.45em;
    font-size: 0.7em;
    border-radius: 50%;
    top: 8px;
    right: 8px;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}

.th-social {
    display: flex;
    gap: 10px;
    a {
        display: inline-block;
        @include equal-size(var(--icon-size, 40px));
        line-height: var(--icon-size, 40px);
        background-color: #363739;
        color: $white-color;
        font-size: 14px;
        text-align: center;
        border-radius: 50%;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: $theme-color;
            color: $white-color;
        }
    }
    &.style2 {
        gap: 20px;
        a {
            width: auto;
            height: auto;
            line-height: normal;
            color: $title-color;
            background-color: transparent;
            &:hover {
                color: $theme-color;
            }
        }
    }
    &.style3 {
        a {
            color: $title-color;
            background-color: $smoke-color;
            &:hover {
                background-color: $theme-color;
                color: $white-color;
            }
        }
    }
    &.style-border {
        a {
            --icon-size: 40px;
            line-height: 38px;
            font-size: 12px;
            background-color: transparent;
            color: $white-color;
            border: 1px solid $border-color;
            &:hover {
                border-color: $theme-color;
                color: $white-color;
                background-color: $theme-color;
            }
        }
    }
    &.style-white {
        a {
            --icon-size: 40px;
            font-size: 14px;
            background-color: $white-color;
            color: $title-color;
            &:hover {
                border-color: $theme-color;
                color: $white-color;
                background-color: $theme-color;
            }
        }
    }
    &.color-theme {
        a {
            color: $body-color;
            border-color: $theme-color;
        }
    }
}
.slider-shadow {
    .slick-list {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: -30px;
        margin-top: -30px;
    }
}
.btn-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    &.style2 {
        gap: 20px 70px;
        @include sm {
            gap: 20px 30px;
        }
    }
}

.th-bg-img {
    position: absolute;
    inset: 0;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

/*******Magnific Image*******/
.mfp-zoom-in .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7); }
.mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
.mfp-zoom-in.mfp-ready .mfp-content {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
.mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.7; }
    .mfp-zoom-in.mfp-removing .mfp-content {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0; }
.mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0; }

