.sec-title {
    margin-bottom: calc(var(--section-title-space) - 10px);
    margin-top: -0.15em;
    font-weight: 700;
}

.sub-title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: $theme-color;
    margin-bottom: 35px;
    text-transform: uppercase;
    line-height: 24px;
    margin-top: -0.3em;
    position: relative;
    img {
        margin: 0 10px 0 0;
    }
    &.style2 {
        padding-left: 0;
        &:before,
        &:after {
            display: none;
        }
    }
}

.box-title {
    font-size: 24px;
    line-height: 1.417;
    font-weight: 700;
    margin-top: -0.15em;
    a {
        color: inherit;
        &:hover {
            color: $theme-color;
        }
    }
}

.sec-text {
    max-width: 720px;
}

.title-area {
    margin-bottom: calc(var(--section-title-space) - 10px);
    position: relative;
    z-index: 2;
    .sec-title {
        margin-bottom: 15px;
    }
    &.mb-0 {
        .sec-title {
            margin-bottom: -0.1em;
        }
    }
    .th-btn {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    p {
        color: $gray-color;
    }
    .sec-text {
        color: $body-color;
    }
}

hr.title-line {
    margin-top: 0;
    background-color: $border-color;
    opacity: 1;
}
.sec-btn,
.title-line {
    margin-bottom: var(--section-title-space);
}

@include lg {
    .sub-title {
        margin-bottom: 20px;
    }
    .shadow-title {
        font-size: 64px;
    }
    .title-area,
    .sec-title {
        --section-title-space: 60px;
        &.mb-45 {
            margin-bottom: 36px;
        }
        &.mb-50 {
            margin-bottom: 40px;
        }
    }
    .sec-btn,
    .title-line {
        --section-title-space: 55px;
    }
}

@include md {
    .shadow-title {
        font-size: 60px;
    }
    .title-area,
    .sec-title {
        --section-title-space: 50px;
        &.mb-45 {
            margin-bottom: 35px;
        }
    }
    .sec-btn,
    .title-line {
        --section-title-space: 50px;
    }
}

@include xs {
    .shadow-title {
        font-size: 52px;
    }
    .box-title {
        font-size: 22px;
    }
}

@include vxs {
    .shadow-title {
        font-size: 40px;
    }
    .box-title {
        font-size: 18px;
    }
}