
    <!--==============================
	Footer Area
==============================-->
<footer class="footer-wrapper footer-layout2" data-bg-src="../../../static/assets/img/bg/footer-bg.png">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xxl-4 col-lg-4">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <h2 class="title mb-35">Want to Start a Project?</h2>
                            <div class="th-social style-border">
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Explore</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="about">About Us</a></li>
                                <li><a href="service">Our Services</a></li>
                                <li><a href="blog">Recent Posts</a></li>
                                <li><a href="contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="widget newsletter-widget style2 footer-widget">
                        <div class="newsletter-wrap">
                            <h3 class="widget_title">Subscribe</h3>
                            <form class="newsletter-form">
                                <input class="form-control" type="email" placeholder="Email Address" required="">
                                <button type="submit" class="th-btn"><i class="fas fa-paper-plane"></i></button>
                                <div class="form-group">
                                    <div class="custom-checkbox">
                                        <input type="checkbox" id="agreepolicy" checked>
                                        <label for="agreepolicy">I agree to all your terns and policies</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright-wrap">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6">
                    <p class="copyright-text">Copyright ©2023 <a href="https://themeforest.net/user/themeholy"> Agenxe.</a> All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-end d-none d-md-block">
                    <div class="footer-links">
                        <ul>
                            <li><a href="about">Privacy Policy</a></li>
                            <li><a href="about">Terms & Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--********************************
        Code End  Here 
******************************** -->

<!-- Scroll To Top -->
<div class="scroll-top">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
    </svg>
</div>

<!--==============================
All Js File
============================== -->
<!-- Jquery -->
<script src="../../../static/assets/js/vendor/jquery-3.6.0.min.js"></script>
<!-- Slick Slider -->
<script src="../../../static/assets/js/slick.min.js"></script>
<!-- Bootstrap -->
<script src="../../../static/assets/js/bootstrap.min.js"></script>
<!-- Magnific Popup -->
<script src="../../../static/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Counter Up -->
<script src="../../../static/assets/js/jquery.counterup.min.js"></script>
<!-- Circle Progress -->
<script src="../../../static/assets/js/circle-progress.js"></script>
<!-- Range Slider -->
<script src="../../../static/assets/js/jquery-ui.min.js"></script>
<!-- Isotope Filter -->
<script src="../../../static/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="../../../static/assets/js/isotope.pkgd.min.js"></script>
<!-- Tilt JS -->
<script src="../../../static/assets/js/tilt.jquery.min.js"></script>
<!-- wow JS -->
<script src="../../../static/assets/js/wow.min.js"></script>

<!-- Main Js File -->
<script src="../../../static/assets/js/main.js"></script>