/* Blog Card ---------------------------------- */
.blog-title {
    font-size: 30px;
}
.blog-card {
    border-radius: 0px;
    .box-title {
        margin-bottom: 20px;
        a {
            background-image: linear-gradient(to left, $white-color, $white-color);
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: 0 2px;
            transition: 0.5s ease-in-out;
            &:hover {
                background-size: 100% 2px;
            }
        }
    }
    .blog-img {
        overflow: hidden;
        border-radius: 0px;
        position: relative;
        img {
            width: 100%;
            transition: 0.4s ease-in-out;
        }
        &:after {
            content: '';
            position: absolute;
            height: 0%;
            width: 100%;
            background: $black-color;
            opacity: 0;
            bottom: 0;
            left: 0;
            transition: 0.4s;
        }
    }
    .blog-meta {
        margin-bottom: 20px;
        span, 
        a {
            > i {
                color: $theme-color;
            }
        }
    }
    .blog-content {
        transition: 0.4s;
        position: relative;
        padding-top: 21px;
    }
    .blog-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $border-color;
        padding-top: 20px;
    }
    .author {
        color: $body-color;
    }
    .link-btn {
        color: $body-color;
    }
    &:hover {
        .blog-img {
            img {
                transform: scale(1.08);
            }
            &:after {
                opacity: 0.7;
                height: 100%;
            }
        }
        .box-title a {
            color: $white-color;
        }
        .link-btn {
            color: $theme-color;
        }
    }
}
.blog-grid-card {
    display: flex;
    gap: 30px;
    .blog-img {
        overflow: hidden;
        flex: none;
        position: relative;
        img {
            width: 100%;
            transition: 0.4s ease-in-out;
        }
        .blog-date {
            background: $theme-color;
            position: absolute;
            right: 30px;
            top: 30px;
            color: $white-color;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            padding: 11px 6.5px 3px;
            &::first-line {
                font-size: 22px;
                line-height: 20px;
            }
        }
    }
    .blog-meta {
        margin-bottom: 15px;
    }
    .box-title {
        margin-bottom: 11px;
        font-size: 30px;
        a {
            background-image: linear-gradient(to left, $theme-color, $theme-color);
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: 0 2px;
            transition: 0.5s ease-in-out;
            &:hover {
                background-size: 100% 2px;
            }
        }
    }
    .blog-content {
        padding: 0px;
    }
    .blog-text {
        margin-bottom: 23px;
    }
    .blog-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $border-color;
        padding-top: 20px;
    }
    .link-btn {
        color: $title-color;
        &:before {
            background-color: $theme-color;
        }
        &:hover {
            color: $theme-color;
        }
    }
    &:hover {
        .blog-img {
            img {
                transform: scale(1.08);
            }
        }
    }
}
.blog-navigation {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 40px 0;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    .nav-btn {
        display: flex;
        align-items: center;
        &:hover {
            .icon-btn {
                background: transparent;
                color: $theme-color;
            }
        }
    }
    .icon-btn {
        --btn-size: 60px;
        border-radius: 50%;
        background-color: $theme-color;
        color: $white-color;
        border: 1px solid $theme-color;
    }
    .nav-title {
        font-size: 20px;
        font-weight: 700;
        font-family: $title-font;
        color: $title-color;
        display: block;
        margin-bottom: 8px;
    }
    .nav-text {
        font-size: 14px;
        font-weight: 700;
        color: $body-color;
        font-family: $title-font;
    }
}
@include xl {
    .blog-card {
        .blog-meta span, .blog-meta a {
            font-size: 14px;
        }
        .box-title {
            font-size: 20px;
        }
    }
}
@include ml {
    .blog-grid-card .blog-bottom {
        padding-top: 25px;
    }
    .blog-grid-card .box-title {
        font-size: 28px;
    }
}
@include xl {
    .blog-grid-card {
        .blog-meta span, .blog-meta a {
            margin-right: 12px;
            font-size: 14px;
        }
        .blog-meta span:after, .blog-meta a:after {
            margin-left: 12px;
        }
        .blog-meta span:last-child, .blog-meta a:last-child {
            margin-right: 0;
        }
        .box-title {
            font-size: 22px;
        }
    }
}
@include lg {
    .blog-grid-card {
        display: block;
        .blog-content {
            margin-top: 30px;
        }
    }
}