/* Team 1 ---------------------------------- */
.team-slider-1 {
    padding: 0 100px;
}
.team-card {
    .team-img-wrap {
        margin-bottom: 30px;
        position: relative;
        .team-thumb {
            overflow: hidden;
        }
        img {
            transition: 0.4s;
        }
        &:after {
            content: '';
            position: absolute;
            height: 0;
            width: 100%;
            background: $black-color;
            opacity: 0;
            bottom: 0;
            left: 0;
            transition: 0.4s;
        }
    }
    .team-img {
        img {
            width: 100%;
        }
    }
    .box-title {
        margin-bottom: 4px;
        a {
            color: $white-color;
            &:hover {
                color: $theme-color;
            }
        }
    }
    .team-desig {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: -0.3em;
        display: block;
    }
    .th-social {
        position: absolute;
        left: 30px;
        bottom: 0px;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
        transform: scaleY(0.5);
        display: block;
        a {
            display: block;
            text-align: center;
            color: $white-color;
            border-color: $white-color;
            margin-bottom: 10px;
            --icon-size: 45px;
            line-height: 45px;
            font-size: 15px;
            &:hover {
                color: $theme-color;
                background: $white-color;
            }
        }
    }
    .team-social-hover {
        &_btn {
            position: absolute;
            height: 45px;
            width: 45px;
            line-height: 45px;
            border-radius: 50%;
            background: $theme-color;
            left: 30px;
            bottom: 30px;
            text-align: center;
            color: $white-color;
            font-size: 16px;
            z-index: 2;
            i {
                transform: rotate(0deg);
                transition: 0.4s;
                &:before {
                    transition: 0.4s;
                }
            }
        }        
        &:hover {
            .team-social-hover_btn i{
                transform: rotate(180deg);
                &:before {
                    content: "\f068";
                }
            }
            .th-social {
                opacity: 1;
                visibility: visible;
                transform: scaleY(1);
                bottom: 75px;
            }
        }
    }
    &:hover {
        .team-img-wrap {
            img {
                transform: scale(1.1);
            }
            &:after {
                opacity: 0.6;
                height: 100%;
            }
        }
    }
}
@include ml {
    .team-slider-1 {
        padding: 0 40px 0 40px;
    }
}
/*****team details area*****/
.team-details-thumb {
    height: 100%;
    img {
        height: 100%;
        object-fit: cover;
    }
}
.team-details-info-wrap {
    border-top: 1px solid $border-color;
    padding-top: 35px;
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            ~ li {
                margin-top: 20px;
            }
            strong {
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                color: $white-color;
                min-width: 115px;
            }
            span {
                margin-right: 36px;
            }
            .tag_cloud {
                height: 28px;
                border-radius: 15px;
                border: 1px solid $border-color;
                display: inline-block;
                padding: 0 14px;
                font-size: 14px;
                color: $body-color;
                ~ .tag_cloud {
                    margin-left: 10px;
                }
                &:hover {
                    background: $theme-color;
                    border: 1px solid $theme-color;
                    color: $white-color;
                }
            }
        }
    }
}
.team-details-form {
    background: $black-color2;
    padding: 90px;  
    .form-group {
        --bs-gutter-x: 30px;
    }   
}
@include md {
    .team-details-thumb {
        height: auto;
        margin-bottom: 40px;
    }
    .team-details-form {
        padding: 60px;
    }
}
@include xs {
    .team-details-form {
        padding: 40px;
    }
}
@include vxs {
    .team-details-form {
        padding: 30px;
    }
}