/* Testimonial Card ---------------------------------- */
.testi-area-1 {
    background: #0A0A0E;
}
.testi-slider-1 {
    .slick-dots {
        text-align: right;
        margin: 0;
        position: absolute;
        right: 12px;
        bottom: 23px;
    }
}
.testi-card {
    background: transparent;
    position: relative;
    &_media {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 30px;
        .testi-card_title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 8px;
        }
        .rating {
            color: $theme-color2;
            font-size: 14px;
        }
    }
    &_profile {
        padding: 30px 0px 0px 0px;
        display: flex;
        gap: 30px;
        align-items: center;
        border-top: 1px solid $border-color;
        margin-top: 40px;
    }
    &_avater {
        border-radius: 99px;
        overflow: hidden;
        img {
            border-radius: 50%;
        }
    }
    &_name {
        font-size: 22px;
        font-weight: 700;
        color: $title-color;
        margin-bottom: 3px;
        margin-top: -0.2em;
    }
    &_desig {
        margin-bottom: -0.3em;
        display: block;
        font-size: 14px;
        font-weight: 600;
        font-family: $body-font;
        color: $body-color;
    }
    &_text {
        margin-bottom: -0.4em;
        margin-top: -0.4em;
        font-size: 18px;
        font-weight: 400;
        font-family: $body-font;
        color: $body-color;
        line-height: 30px;
    }
}
@include xs {
    .testi-card_text {
        font-size: 16px;
    }
}
.testi-thumb2 {
    position: relative;
    padding-left: 120px;
    display: inline-block;
    height: 100%;
    > img {
        height: 100%;
        object-fit: cover;
    }
    .testi-client-wrap {
        display: inline-block;
        padding: 40px 35px;
        text-align: left;
        max-width: 230px;
        position: absolute;
        left: 0;
        bottom: 90px;
        background-repeat: repeat;
        background-size: auto;
        img {
            margin-bottom: 35px;
        }
        h6 {
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
            margin-bottom: -0.4em;
            span {
                color: $theme-color2;
            }
        }
    }
}
.testi-slider-indicator {
    display: block;
    .indicator-btn {
        border-radius: 50%;
        position: relative;
        display: inline-block;
        cursor: pointer;
        ~ .indicator-btn {
            margin-left: 7px;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border: 3px solid $theme-color;
            background: transparent;
            border-radius: 50%;
            opacity: 0;
            transition: 0.4s;
        }
        &.active {
            &:after {
                opacity: 1;
            }
        }
        img {
            border-radius: 50%;
        }
    }
}
.testi-slider-2 {
    .slick-arrow {
        opacity: 1;
        visibility: visible;
        top: -30px;
        --pos-x: 0;
        --icon-size: 40px;
        right: 40px;
        left: auto;
        margin: 0;
        border-color: transparent;
        &.slick-next {
            margin-top: -40px;
        }
        &:hover {
            border-color: $theme-color;
            color: $theme-color;
            background: transparent;
        }
    }
}
.testi-card.style2 {
    .testi-card_text {
        font-size: 20px;
        margin-top: 30px;
        line-height: 36px;
    }
    .testi-card_name {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 5px;
    } 
    .testi-card_desig {
        font-size: 14px;
        font-weight: 600;
    }
    .testi-card_profile {
        padding: 45px 0px 0px 0px; 
        justify-content: space-between;
    }
    .testi-box_quote {
        display: inline-block;
        filter: brightness(9);
        margin-right: 40px;
    }
}
@include lg {
    .testi-card.style2 .testi-card_text {
        font-size: 18px;
    }
}
@include md {
    .testi-thumb2 {
        height: auto;
        padding: 0 120px 0 0;
        .testi-client-wrap {
            left: auto;
            right: 0;
        }
    }
}
@include xs {
    .testi-thumb2 .testi-client-wrap {
        bottom: 20px;
    }
    .testi-thumb2 {
        padding: 0 60px 0 0;
    }
    .testi-slider-indicator .indicator-btn ~ .indicator-btn {
        margin-left: 0;
    }
    .testi-slider-indicator .indicator-btn {
        margin-right: 7px;
        margin-bottom: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
    .testi-slider-indicator {
        margin-bottom: -15px;
    }
}