{% extends 'index.html' %}

{% block content %}


<body class="dark-theme" data-bg-src="../../static/assets/img/bg/dark-bg.png">

    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



    <!--********************************
   		Code Start From Here 
	******************************** -->




    {% include 'personal/snippets/nav.html' %}
    <!--==============================
Hero Area
==============================-->
    <div class="th-hero-wrapper hero-2" id="hero" data-bg-src="../../static/assets/img/hero/hero_bg_2_1.jpg">
        <div class="hero-bg-anime2-1 shape-mockup spin d-lg-block d-none" data-left="8%" data-top="22%">
            <img src="../../static/assets/img/hero/hero_bg_anime1-1.jpg" alt="hero">
        </div>
        <div class="hero-bg-anime2-2 shape-mockup jump d-lg-block d-none" data-right="13%" data-top="21%">
            <img src="../../static/assets/img/hero/hero_bg_anime2-2.jpg" alt="hero">
        </div>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-9">
                    <div class="hero-style2">
                        <h1 class="hero-title text-white">Paperless, Pay for less</h1>
                        <a href="contact.html" class="th-btn cta-btn background-image" style="background-image: url(&quot;../../static/assets/img/bg/feature-bg1.png&quot;);">Discover
                            More <i class="far fa-arrow-up-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="video-area-2 text-center ">
            <img src="../../static/assets/img/hero/hero_thumb_2_1.jpg" alt="img">
            <div class="container">
                <div class="video-box1">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn style6 popup-video"><i class="fa-sharp fa-solid fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!--======== / Hero Section ========-->
 <!--==============================
Process Area  
==============================-->
<section class="space-bottom">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title wow fadeInUp"><img src="../../static/assets/img/normal/subtitle-star.svg" alt="img"> How to Work</span>
            <h2 class="sec-title wow fadeInUp">Browse, Tap, Swyft?</h2>
        </div>
        <div class="process-card-area wow fadeInUp">
            <div class="process-line"></div>
            <div class="row gy-40 justify-content-center">
                <div class="col-md-6 col-lg-3 process-card-wrap">
                    <div class="process-card">
                        <div class="process-card_icon"><img src="../../static/assets/img/icon/process-icon-1.svg" alt="img"></div>
                        <div class="process-card_number">01</div>
                        <h2 class="box-title">Register and Pay</h2>
                        <p class="process-card_text">Find the perfect experience for you and sign up with ease.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 process-card-wrap">
                    <div class="process-card">
                        <div class="process-card_icon"><img src="../../static/assets/img/icon/process-icon-2.svg" alt="img"></div>
                        <div class="process-card_number">02</div>
                        <h2 class="box-title">Obtain NFC</h2>
                        <p class="process-card_text">Get ready to uinlock event doors with a simple tap.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 process-card-wrap">
                    <div class="process-card">
                        <div class="process-card_icon"><img src="../../static/assets/img/icon/process-icon-3.svg" alt="img"></div>
                        <div class="process-card_number">03</div>
                        <h2 class="box-title">Tap to Enter</h2>
                        <p class="process-card_text">Use your NFC card to enter event rooms seamlessly.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 process-card-wrap">
                    <div class="process-card">
                        <div class="process-card_icon"><img src="../../static/assets/img/icon/process-icon-4.svg" alt="img"></div>
                        <div class="process-card_number">04</div>
                        <h2 class="box-title">Enjoy the Experience</h2>
                        <p class="process-card_text">Experience Swyft and lasting memories.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--==============================
Project Area  
==============================-->
    <section class="space">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="title-area">
                        <span class="sub-title wow fadeInUp"><img src="../../static/assets/img/normal/subtitle-star.svg" alt="img"> Top Events</span>
                        <h2 class="sec-title wow fadeInUp">Our Top Events</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row project-wrap">
                <div class="col-md-12 project-card_wrap">
                    <div class="project-card4 ">
                        <div class="project-card_number">
                            01 </div>
                        <div class="project-content">
                            <h6 class="project-subtitle">Creative Solutions</h6>
                            <h4 class="project-title"><a href="project-details.html" tabindex="-1">Creative Website Solutions</a></h4>
                        </div>
                        <div class="project-img">
                            <img src="../../static/assets/img/project/project_6_1.jpg" alt="project image">
                        </div>
                        <a class="icon-btn" href="project-details.html"><i class="far fa-arrow-up-right"></i></a>
                    </div>
                </div>

                <div class="col-md-12 project-card_wrap">
                    <div class="project-card4 project-card4-active">
                        <div class="project-card_number">
                            02 </div>
                        <div class="project-content">
                            <h6 class="project-subtitle">Consulting Soluitions</h6>
                            <h4 class="project-title"><a href="project-details.html" tabindex="-1">Market Research & Analysis</a></h4>
                        </div>
                        <div class="project-img">
                            <img src="../../static/assets/img/project/project_6_2.jpg" alt="project image">
                        </div>
                        <a class="icon-btn" href="project-details.html"><i class="far fa-arrow-up-right"></i></a>
                    </div>
                </div>

                <div class="col-md-12 project-card_wrap">
                    <div class="project-card4 ">
                        <div class="project-card_number">
                            03 </div>
                        <div class="project-content">
                            <h6 class="project-subtitle">Digital Solutions</h6>
                            <h4 class="project-title"><a href="project-details.html" tabindex="-1">Web & E-commerce solutions</a></h4>
                        </div>
                        <div class="project-img">
                            <img src="../../static/assets/img/project/project_6_3.jpg" alt="project image">
                        </div>
                        <a class="icon-btn" href="project-details.html"><i class="far fa-arrow-up-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
<!--==============================
Faq Area
==============================-->
<div class="overflow-hidden space-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center text-lg-end text-center order-lg-2">
                <div class="faq-img z-index-step1 wow fadeInUp mb-40 mb-lg-0">
                    <img src="../../static/assets/img/normal/faq-thumb_1-1.png" alt="Faq">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="title-area mb-35 text-center text-lg-start">
                    <span class="sub-title wow fadeInUp"><img src="../../static/assets/img/normal/subtitle-star.svg" alt="img"> FAQ’s Questions</span>
                    <h2 class="sec-title wow fadeInUp">Connecting customers To your brand</h2>
                </div>
                <div class="accordion-area accordion wow fadeInUp" id="faqAccordion">


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">What types of events can I find on Swyft?</button>
                        </div>
                        <div id="collapse-1" class="accordion-collapse collapse " aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">The phrase implies that the agencys creative solutions are not just theoretical or abstract concepts but deliver tangible and measurable results. It emphasizes the agencys commitment</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card active">
                        <div class="accordion-header" id="collapse-item-2">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">How do I obtain an NFC card for event access?</button>
                        </div>
                        <div id="collapse-2" class="accordion-collapse collapse show" aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">Obtaining an NFC card for events is easy! Once you register for an event on SwyftEvents, you'll recieve instructions on how to claim your NFC card. Simply follow the provided guidelines to recieve your card hassle-free. With your NFC card in hand, you'll be ready to tap and enter events swiftly.</p>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-card ">
                        <div class="accordion-header" id="collapse-item-3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">Is my payment information secure on SwyftEvents?</button>
                        </div>
                        <div id="collapse-3" class="accordion-collapse collapse " aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p class="faq-text">These agencies specialize in digital marketing and online presence. They offer services such as website development, search engine optimization (SEO), search engine marketing (SEM).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}