/* experience area ---------------------------------- */
.experience-thumb {
    position: relative;
    margin-right: 80px;
    margin-left: -120px;
}
.customer-wrap {
    position: absolute;
    right: 0;
    top: 80px;
    background: $white-color;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    padding: 32px 0 31px 30px;
    .customer-wrap-title {
        font-weight: 800;
        margin-bottom: 0;
        margin-right: 20px;
    }
    .customer-wrap-text {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: $title-color;
        margin-right: 28px;
    }
    .customer-wrap-icon {
        transform: translate(50%, 0);
        margin-left: -30px;
    }
}
@include xxl {
    .experience-thumb {
        margin-right: 50px;
        margin-left: -40px;
    }
}
@include lg {
    .experience-thumb {
        display: inline-block;
        margin-left: 0;
        margin-bottom: 50px;
    }
}
@include xs {
    .experience-thumb {
        margin-right: 30px;
    }
    .customer-wrap {
        top: 30px;
        padding: 12px 0 11px 20px;
    }
}