/* Hero Global ---------------------------------- */
.th-hero-wrapper {
    position: relative;
    z-index: 2;
    overflow: hidden;
    .slick-arrow {
        --pos-x: 110px;
        box-shadow: none;
    }
    .slick-dots {
        position: absolute;
        top: 50%;
        left: 80px;
        transform: translateY(-50%);
        margin: 0;
        li {
            display: block;
            margin: 0;
            ~ li {
                margin: 15px 0 0 0;
            }
        }
        button {
            height: 6px;
            width: 6px;
            background: $theme-color;
            &:before {
                background: transparent;
                border: 2px solid $theme-color;
            }
        }
    }
}
@media (max-width: 1600px) {
    .th-hero-wrapper .slick-arrow {
        --pos-x: 50px
    }
}
@include xxl {
    .th-hero-wrapper .slick-arrow {
        --pos-x: 40px;
    }
}
.th-hero-bg {
    position: absolute;
    inset: 0;
}
@keyframes anim {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.5);
    }
}
.th-hero-overlay {
    position: absolute;
    left: 0;
    top: 0;
}
/* Hero 1 ---------------------------------- */
.hero-video-1 {
    .play-btn > i {
        display: inline-block;
        width: var(--icon-size, 100px);
        height: var(--icon-size, 100px);
        line-height: var(--icon-size, 100px);
        color: $title-color;
        font-size: var(--icon-font-size, 20px);
        &:hover {
            color: $white-color;
        }
    }
}
.hero-subtitle {
    font-family: $body-font;
    color: $theme-color;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
    margin-top: -0.24em;
}
.hero-title {
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    margin-bottom: 0;
    clip-path: none;
    opacity: 0;
    transform: translateY(0);
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-name: titleAnimation;
    img {
        margin-right: 10px;
    }
    .hero-title-anime {
        font-size: 12px;
        font-weight: 700;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        transition: 0.4s;
        position: relative;
        display: inline-block;
        background: $theme-color;
        line-height: 17px;
        text-align: center;
        animation: spin 10s infinite alternate-reverse;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background: transparent;
            border: 1px solid $white-color;
            height: 44px;
            width: 44px;
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }
        span {
            --rotate-letter: 18deg;
            height: 41px;
            position: absolute;
            width: 20px;
            left: 39%;
            top: 4px;
            transform-origin: bottom center;
            transform: rotate(var(--rotate-letter));
            &.char2 {
                transform: rotate(calc(var(--rotate-letter) * 2));
            }
            &.char3 {
                transform: rotate(calc(var(--rotate-letter) * 3));
            }
            &.char4 {
                transform: rotate(calc(var(--rotate-letter) * 4));
            }
            &.char5 {
                transform: rotate(calc(var(--rotate-letter) * 5));
            }
            &.char6 {
                transform: rotate(calc(var(--rotate-letter) * 6));
            }
            &.char7 {
                transform: rotate(calc(var(--rotate-letter) * 7));
            }
            &.char8 {
                transform: rotate(calc(var(--rotate-letter) * 8));
            }
            &.char9 {
                transform: rotate(calc(var(--rotate-letter) * 9));
            }
            &.char10 {
                transform: rotate(calc(var(--rotate-letter) * 10));
            }
            &.char11 {
                transform: rotate(calc(var(--rotate-letter) * 11));
            }
            &.char12 {
                transform: rotate(calc(var(--rotate-letter) * 12));
            }
            &.char13 {
                transform: rotate(calc(var(--rotate-letter) * 13));
            }
            &.char14 {
                transform: rotate(calc(var(--rotate-letter) * 14));
            }
            &.char15 {
                transform: rotate(calc(var(--rotate-letter) * 15));
            }
            &.char16 {
                transform: rotate(calc(var(--rotate-letter) * 16));
            }
            &.char17 {
                transform: rotate(calc(var(--rotate-letter) * 17));
            }
            &.char18 {
                transform: rotate(calc(var(--rotate-letter) * 18));
            }
            &.char19 {
                transform: rotate(calc(var(--rotate-letter) * 19));
            }
            &.char20 {
                transform: rotate(calc(var(--rotate-letter) * 20));
            }
            &.char21 {
                transform: rotate(calc(var(--rotate-letter) * 21));
            }
            &.char22 {
                transform: rotate(calc(var(--rotate-letter) * 22));
            }            
        }
    }
    &:last-of-type {
        margin-bottom: 35px;
    }
}
.hero-text {
    margin-bottom: 43px;
}
.hero-1 {
    background-position: left;
    .hero-thumb {
        margin-top: 110px;
        margin-left: -200px;
        animation: bell-outer 5s ease-out infinite;
    }
}
@keyframes bell-outer {
    0%, 50%, 100% {
        transform: rotateX(8deg) rotateZ(0);  
    }
    30% {
        transform: rotateX(8deg) rotateZ(8deg)
    }
    80% {
        transform: rotateX(8deg) rotateZ(-8deg)
    }
}

.hero-style1 {
    position: relative;
    z-index: 6;
    padding: calc(110px + 230px) 0 230px 0;
    .hero-title {
        &:first-of-type {
            margin-top: -0.04em;
            animation-delay: 0.5s;
        }
        &:last-of-type {
            margin-bottom: -0.21em;
            animation-delay: 1.5s;
        }
        img {
            margin-top: -33px;
        }
    }
}
@include ml {
    .hero-title {
        font-size: 120px;
        line-height: 140px;
        .hero-title-anime {
            width: 90px;
            height: 90px;
            span {
                height: 36px;
                left: 39%;
            }
            &:after {
                height: 35px;
                width: 35px;
            }
        }
    }
    .hero-style1 .hero-title img {
        margin-top: -25px;
    }
    .hero-1 .hero-thumb {
        margin-left: -483px;
    }
}

@include xl {
    .hero-1 .hero-thumb {
        margin-left: -424px;
    }
}
@include lg {
    .hero-title {
        font-size: 80px;
        line-height: 100px;
        img {
            width: 200px;
        }
    }
    .hero-style1 .hero-title img {
        margin-top: -17px;
    }
    .hero-1 .hero-thumb {
        margin-left: -415px;
    }
    .hero-title .hero-title-anime {
        width: 60px;
        height: 60px;
        font-size: 8px;
        span {
            height: 28px;
            left: 34%;
            top: 2px;
        }
        &:after {
            height: 28px;
            width: 28px;
        }
    }
}

@include md {
    .hero-style1 {
        padding: 60px 0 120px;
        text-align: center;
        .hero-title:last-of-type {
            margin-bottom: -0.35em;
        }
    }
    .hero-1 .hero-thumb {
        margin-top: calc(84px + 120px);
        margin-left: 0;
        img {
            border-radius: 10px;
        }
    }
}

@include sm {
    .hero-title {
        font-size: 62px;
    }
}

@include xs {
    .hero-subtitle {
        font-size: 14px;
        margin-bottom: 12px;
    }
    .hero-title {
        font-size: 40px;
        line-height: 1.3;
    }
    .hero-text {
        margin-bottom: 28px;
    }
    .hero-style1 .hero-title img {
        margin-top: 0;
        margin-bottom: 8px;
        width: 150px;
    }
    .hero-title .hero-title-anime {
        width: 35px;
        height: 35px;
        font-size: 6px;
        span {
            --rotate-letter: 18deg;
            height: 18px;
            left: 23%;
            top: 0px;
        }
        &:after {
            height: 10px;
            width: 10px;
        }
    }
    .hero-1 .hero-thumb {
        margin-top: calc(74px + 100px);
    }
    .hero-style1 {
        padding: 60px 0 100px;
        .hero-title:last-of-type {
            margin-bottom: -0.55em;
        }
    }
}

@media (max-width: 330px) {
    .hero-style1 .hero-title img {
        display: none;
    }
}
@keyframes titleAnimation {
    0% {
        transform: translateY(-100px);
        opacity: 0;
        clip-path: polygon(100% 0, 100% 0%, 0 90%, 0 0%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%);
    }
}
/*****hero 2*****/
.hero-2 {
    overflow: initial;
    .video-area-2 {
        transform: translateY(60px);
        margin-top: -60px;
        margin-bottom: 60px;
        -webkit-mask-size: cover;
        -webkit-mask-position: center;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
        }
    }
}
.hero-style2 {
    position: relative;
    z-index: 6;
    padding: calc(110px + 148px) 0 16px 0;
    text-align: center;
    .hero-title {
        font-size: 100px;
        line-height: 110px;
        text-transform: uppercase;
        margin-bottom: 23px;
    }
    .cta-btn {
        background-color: $white-color;
        color: $theme-color;
        padding: 35px;
        i {
            font-size: 30px;
        }
        &:hover {
            background-color: $theme-color;
            color: $white-color;
        }
    }
}
@include hd {
    .hero-2 .video-area-2 {
        transform: translateY(80px);
        margin-top: -80px;
        margin-bottom: 80px;
        -webkit-mask-size: cover;
        -webkit-mask-position: center;
    }
}
@include xxl {
    .hero-2 .video-area-2 {
        margin-bottom: 20px;
    }
}
@include xl {
    .hero-style2 .hero-title {
        font-size: 90px;
        line-height: 100px;
    }
    .hero-1 .hero-thumb {
        margin-left: -314px;
    }
}
@include lg {
    .hero-style2 .hero-title {
        font-size: 75px;
        line-height: 90px;
        margin-bottom: 20px;
    }
    .hero-1 .hero-thumb {
        margin-left: -454px;
    }
}
@include md {
    .hero-style2 {
        padding: calc(110px + 58px) 0 36px 0;
    }
    .hero-1 .hero-thumb {
        display: none;
    }
    .hero-style1 {
        padding: 190px 0 120px;
    }
}
@include sm {
    .hero-style2 .hero-title {
        font-size: 55px;
        line-height: 1.3;
    }
}
@include xs {
    .hero-style2 .hero-title {
        font-size: 45px;
    }
}
@include vxs {
    .hero-style2 .hero-title {
        font-size: 38px;
    }
}
/********hero 3**********/
.hero-style3 {
    padding: 240px 0 70px;
    .hero-title {
        font-size: 130px;
        line-height: 140px;
        margin-bottom: -0.25em;
    }
}
.hero-video-wrap {
    height: 236px;
    width: 236px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    line-height: 236px;
    margin-bottom: 70px;
    .play-btn {
        line-height: initial;
    }
}
.hero-client-wrap {
    .hero-client_title {
        font-size: 20px;
        font-weight: 700;
        font-family: $title-font;
        color: $title-color;
        margin-top: 30px;
        max-width: 223px;
        margin-bottom: 70px;
    }
    .hero-tag {
        position: relative;
        display: inline-block;
        .about-experience-tag {
            position: initial;
            height: 160px;
            width: 160px;
            border: 1px solid #9B9B9C;
            span {
                --rotate-letter: 12deg;
                height: 70px;
                left: 38%;
                top: 3px;
                color: #9B9B9C;
            }
            &:before {
                border: 1px solid #9B9B9C;
            }
        }
        &_icon {
            font-size: 40px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #9B9B9C;
        }
    }
}
@include ml {
    .hero-style3 .hero-title {
        font-size: 100px;
        line-height: 1.2;
    }
}
@include xl {
    .hero-client-wrap .hero-client_title {
        margin-bottom: 40px;
    }   
    .hero-client-wrap {
        margin-bottom: 30px;
    }
}
@include lg {
    .hero-client-wrap .hero-client_title {
        margin-bottom: 30px;
    }
    .hero-style3 .hero-title {
        font-size: 75px;
        line-height: 90px;
    }
    .hero-video-wrap {
        margin-bottom: 20px;
    }
}
@include md {
    .hero-video-wrap {
        height: 200px;
        width: 200px;
        line-height: 200px;
    }
    .hero-style3 {
        padding: 200px 0 70px;
    }
}
@include sm {
    .hero-style3 {
        text-align: center;
    }
}
@include xs {
    .hero-style3 .hero-title {
        font-size: 50px;
        line-height: 1.3;
    }
    .hero-3 {
        text-align: center;
    }
    .hero-video-wrap {
        margin: auto;
        margin-bottom: 30px;
    }
    .hero-client-wrap .hero-client_title {
        margin: 30px auto 30px;
    }
}
@include vxs {
    .hero-style3 {
        padding: 160px 0 70px;
    }
}