<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% include 'personal/snippets/header.html' %}
</head>

<body class="dark-theme" data-bg-src="../static/assets/img/bg/dark-bg.png">

    {% include 'personal/snippets/nav.html' %}
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="../static/assets/img/bg/breadcumb-bg.jpg" data-overlay="black" data-opacity="8">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">About Us</h1>
                <ul class="breadcumb-menu">
                    <li><a href="/index">Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
     <!--==============================
Faq Area
==============================-->
<div class="feature-area-1 bg-theme" data-bg-src="../static/assets/img/bg/feature-bg1.png">
    <div class="container-fluid">
        <div class="row feature-slider-1 th-carousel" data-slide-show="6" data-xl-slide-show="5" data-ml-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-speed="2000" data-autoplay-speed="400">
            <!-- Single Item -->
            <div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
                <div class="feature-item">
                    <div class="feature_icon">
                        <img src="../static/assets/img/normal/feature-star.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="/service-details">DIGITAL MARKETING</a></h3>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
                <div class="feature-item">
                    <div class="feature_icon">
                        <img src="../static/assets/img/normal/feature-star.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="/service-details">WEB DEVELOPMENT</a></h3>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
                <div class="feature-item">
                    <div class="feature_icon">
                        <img src="../static/assets/img/normal/feature-star.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="/service-details">MOBILE APPLICATION</a></h3>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
                <div class="feature-item">
                    <div class="feature_icon">
                        <img src="../static/assets/img/normal/feature-star.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="/service-details">CREATIVE AGENCY</a></h3>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
                <div class="feature-item">
                    <div class="feature_icon">
                        <img src="../static/assets/img/normal/feature-star.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="/service-details">IT CONSULTING</a></h3>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
                <div class="feature-item">
                    <div class="feature_icon">
                        <img src="../static/assets/img/normal/feature-star.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="/service-details">SEO OPTIMIZATION</a></h3>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
                <div class="feature-item">
                    <div class="feature_icon">
                        <img src="../static/assets/img/normal/feature-star.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="/service-details">DIGITAL MARKETING</a></h3>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
                <div class="feature-item">
                    <div class="feature_icon">
                        <img src="../static/assets/img/normal/feature-star.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="/service-details">WEB DEVELOPMENT</a></h3>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
                <div class="feature-item">
                    <div class="feature_icon">
                        <img src="../static/assets/img/normal/feature-star.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="/service-details">MOBILE APPLICATION</a></h3>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
                <div class="feature-item">
                    <div class="feature_icon">
                        <img src="../static/assets/img/normal/feature-star.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="/service-details">CREATIVE AGENCY</a></h3>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
                <div class="feature-item">
                    <div class="feature_icon">
                        <img src="../static/assets/img/normal/feature-star.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="/service-details">IT CONSULTING</a></h3>
                </div>
            </div>

            <!-- Single Item -->
            <div class="col-sm-6 col-xl-4 col-lg-6 col-md-4">
                <div class="feature-item">
                    <div class="feature_icon">
                        <img src="../static/assets/img/normal/feature-star.svg" alt="Icon">
                    </div>
                    <h3 class="box-title"><a href="/service-details">SEO OPTIMIZATION</a></h3>
                </div>
            </div>

        </div>
    </div>
</div>
    <!--==============================
About Area  
==============================-->
    <div class="space-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mb-40 mb-lg-0 order-lg-2">
                    <div class="skill-thumb text-lg-end text-center">
                        <img src="../static/assets/img/normal/skil-thumb1.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="title-area mb-35 text-center text-lg-start">
                        <span class="sub-title"><img src="../static/assets/img/normal/subtitle-star.svg" alt="shape">Our Skills</span>
                        <h2 class="sec-title">Yours, Experienced Professionals</h2>
                    </div>
                    <p class="mt-n2 mb-35 text-center text-lg-start">With a strong foundation in engineering principles and a passion for excellence, we collaborate seamlessly to deliver innovative solutions tailored to meet our client's needs. Our diverse skill set and collective expertise ensure that approach every challenge with confidence and competence.</p>
                    <div class="skill-feature">
                        <div class="progress">
                            <div class="progress-bar" style="width: 80%;">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--==============================
Team Area  
==============================-->
    <div class="team-area overflow-hidden space">
        <div class="container-fluid p-0">
            <div class="title-area text-center">
                <span class="sub-title wow fadeInUp"><img src="../static/assets/img/normal/subtitle-star.svg" alt="img">Our Team</span>
                <h2 class="sec-title text-white wow fadeInUp">Our Experienced Team</h2>
            </div>
            <div class="row th-carousel team-slider-1" data-slide-show="5" data-ml-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1">
                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="th-team team-card wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-img-wrap">
                            <div class="team-thumb">
                                <div class="team-img">
                                    <img src="../static/assets/img/team/team_1_1.jpg" alt="Team">
                                </div>
                            </div>
                            <div class="team-social-hover">
                                <a href="/#" class="team-social-hover_btn">
                                    <i class="far fa-plus"></i>
                                </a>
                                <div class="th-social style-border">
                                    <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3 class="box-title"><a href="/team-details">Gab Narvadez</a></h3>
                            <span class="team-desig">Founder & CEO</span>
                        </div>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="th-team team-card wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-img-wrap">
                            <div class="team-thumb">
                                <div class="team-img">
                                    <img src="../static/assets/img/team/team_1_2.jpg" alt="Team">
                                </div>
                            </div>
                            <div class="team-social-hover">
                                <a href="/#" class="team-social-hover_btn">
                                    <i class="far fa-plus"></i>
                                </a>
                                <div class="th-social style-border">
                                    <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3 class="box-title"><a href="/team-details">Richmond Lingal</a></h3>
                            <span class="team-desig">Sr. UI/UX Designer</span>
                        </div>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="th-team team-card wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-img-wrap">
                            <div class="team-thumb">
                                <div class="team-img">
                                    <img src="../static/assets/img/team/team_1_3.jpg" alt="Team">
                                </div>
                            </div>
                            <div class="team-social-hover">
                                <a href="/#" class="team-social-hover_btn">
                                    <i class="far fa-plus"></i>
                                </a>
                                <div class="th-social style-border">
                                    <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3 class="box-title"><a href="/team-details">Jazther Hebrado</a></h3>
                            <span class="team-desig">Sr. Development</span>
                        </div>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="th-team team-card wow fadeInUp" data-wow-delay="0.8s">
                        <div class="team-img-wrap">
                            <div class="team-thumb">
                                <div class="team-img">
                                    <img src="../static/assets/img/team/team_1_4.jpg" alt="Team">
                                </div>
                            </div>
                            <div class="team-social-hover">
                                <a href="/#" class="team-social-hover_btn">
                                    <i class="far fa-plus"></i>
                                </a>
                                <div class="th-social style-border">
                                    <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3 class="box-title"><a href="/team-details">Brynn Patulot</a></h3>
                            <span class="team-desig">Jr. UI Designer</span>
                        </div>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="th-team team-card wow fadeInUp" data-wow-delay="1s">
                        <div class="team-img-wrap">
                            <div class="team-thumb">
                                <div class="team-img">
                                    <img src="../static/assets/img/team/team_1_5.jpg" alt="Team">
                                </div>
                            </div>
                            <div class="team-social-hover">
                                <a href="/#" class="team-social-hover_btn">
                                    <i class="far fa-plus"></i>
                                </a>
                                <div class="th-social style-border">
                                    <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3 class="box-title"><a href="/team-details">Jayzee Esguerra</a></h3>
                            <span class="team-desig">Jr. Development</span>
                        </div>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="th-team team-card wow fadeInUp" data-wow-delay="1.2s">
                        <div class="team-img-wrap">
                            <div class="team-thumb">
                                <div class="team-img">
                                    <img src="../static/assets/img/team/team_1_1.jpg" alt="Team">
                                </div>
                            </div>
                            <div class="team-social-hover">
                                <a href="/#" class="team-social-hover_btn">
                                    <i class="far fa-plus"></i>
                                </a>
                                <div class="th-social style-border">
                                    <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-content">
                            <h3 class="box-title"><a href="/team-details">Neil De Leon</a></h3>
                            <span class="team-desig">Founder & CEO</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
    {% include 'personal/snippets/footer.html' %}
</body>

</html>