<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% include 'personal/snippets/header.html' %}

</head>

<body class="dark-theme" data-bg-src="../../static/assets/img/bg/dark-bg.png">

    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="/://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



    <!--********************************
   		Code Start From Here 
	******************************** -->



    {% include 'personal/snippets/nav.html' %}

    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="../../static/assets/img/bg/breadcumb-bg.jpg" data-overlay="black" data-opacity="8">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Event Details</h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">Home</a></li>
                    <li>Event Details</li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
    Project Area
==============================-->
    <section class="space">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="page-single border-bottom">
                        <div class="page-content">
                            <div class="page-content-details">
                                <h2 class="page-title mb-0">UI/UX Designing</h2>
                                <ul class="page-content-list">
                                    <li><strong>Category :</strong>UI/UX Designing</li>
                                    <li><strong>Clients :</strong>ThemeHoly in Germany</li>
                                    <li><strong>Date :</strong>09 June 2023</li>
                                </ul>
                            </div>
                            <p class="mb-30">Proin posuere felis lectus, viverra molestie metus ornare nec. Integer posuere lacinia nisi, pellentesque pellentesque ligula pulvinar in. Nulla eleifend, quam sed porttitor tempor, tortor enim gravida tortor, sed lobortis mauris lacus ut odio. Vestibulum id felis tincidunt, dignissim massa quis, sodales velit. Curabitur hendrerit tortor et luctus varius. Suspendisse at mollis diam. Vestibulum a posuere libero. Aenean at massa sollicitudin, euismod enim quis, tristique neque. Nulla eget facilisis sem, a laoreet leo. Cras rutrum ligula purus, vel auctor massa posuere vitae. Nulla sed ultricies risus. Integer vestibulum, odio et accumsan egestas, dolor est pulvinar nibh, quis finibus ipsum mauris vel est. Mauris neque quam, gravida sed turpis at, vehicula luctus risus.</p>
                            <div class="thumb mb-45">
                                <img class="w-100" src="../../static/assets/img/project/project_details_1_1.jpg" alt="img">
                            </div>
                            <h3 class="h4 page-subtitle">The Challenge</h3>
                            <p class="mb-30">Aliquam ac risus consequat, consectetur urna eu, porttitor leo. Suspendisse in cursus nisi. Vivamus lacinia euismod ipsum, eu vehicula neque gravida id. Ut et accumsan augue. Phasellus porttitor placerat sapien in fringilla. Maecenas consequat, leo in accumsan dictum, velit tortor elementum eros, ut facilisis justo quam non justo. Quisque egestas dolor ut sapien accumsan maximus. Duis a elit sit amet eros ornare rutrum. Nullam sed bibendum nisi,</p>
                            <p class="mb-35">Proin posuere felis lectus, viverra molestie metus ornare nec. Integer posuere lacinia nisi, pellentesque pellentesque ligula pulvinar in. Nulla eleifend, quam sed porttitor tempor, tortor enim gravida tortor, sed lobortis mauris lacus ut odio. Vestibulum id felis tincidunt, dignissim massa quis, sodales velit. Curabitur hendrerit tortor et luctus varius.</p>
                            <div class="row gy-40">
                                <div class="col-lg-6">
                                    <div class="thumb">
                                        <img class="w-100" src="../../static/assets/img/project/project_details_1_2.jpg" alt="img">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="thumb">
                                        <img class="w-100" src="../../static/assets/img/project/project_details_1_3.jpg" alt="img">
                                    </div>
                                </div>
                            </div>
                            <h3 class="h4 page-subtitle mt-40">The Solution</h3>
                            <p class="mb-60">Phasellus efficitur arcu ut mi luctus, non tempus est dapibus. Nunc vel maximus sem. Nullam nec magna faucibus, commodo felis vel, hendrerit ante. Vivamus et molestie leo. Suspendisse quis dolor ut tortor vulputate ornare. Vivamus sodales tempus risus vel posuere. Quisque quis enim ac lectus ultrices dapibus. Proin pretium eleifend convallis. Quisque sit amet lacus tincidunt, sollicitudin orci vel, rutrum est.</p>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </section>
    <!--==============================
Contact Area  
==============================--><div class="space-top">
    <form id="registrationForm" action="{% url 'event_details' %}" method="post" class="th-contact-form team-details-form ajax-contact" data-bg-src="../../static/assets/img/bg/feature-bg1.png">
        {% csrf_token %}
        <div class="form-title mb-30 text-center">
            <h4 class="mt-n1">Massage With Me</h4>
        </div>
        <div class="row">
            <div class="col-lg-4 form-group">
                <input type="text" name="fullname" placeholder="Full Name" class="form-control style2">
            </div>
            <div class="col-lg-4 form-group">
                <input type="email" name="email" placeholder="Email Address" class="form-control style2">
            </div>
            <div class="col-lg-4 form-group">
                <input type="tel" name="phone" placeholder="Phone :" class="form-control style2">
            </div>
            <div class="col-12 form-group">
                <textarea name="user_message" placeholder="Message" class="form-control style2"></textarea>
            </div>
            <div class="col-12 form-group mb-0 text-center">
                <button type="submit" class="th-btn">Send Message <i class="fas fa-arrow-up-right ms-2"></i></button>
            </div>
        </div>
        </form>    {% include 'personal/snippets/footer.html' %}

</body>

</html>