<!doctype html>
<html class="no-js" lang="zxx">

<head>    {% include 'personal/snippets/header.html' %}

</head>

<body class="dark-theme" data-bg-src="../../static/assets/img/bg/dark-bg.png">

    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



    <!--********************************
   		Code Start From Here 
	******************************** -->



    {% include 'personal/snippets/nav.html' %}

    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="../../static/assets/img/bg/breadcumb-bg.jpg" data-overlay="black" data-opacity="8">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Events</h1>
                <ul class="breadcumb-menu">
                    <li><a href="/">Home</a></li>
                    <li>Events</li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
Project Area  
==============================-->
    <!--==============================
Project Area  
==============================-->
    <section class="space">
        <div class="container">
            <div class="text-center">
                <div class="portfolio-filter-btn filter-menu filter-menu-active mb-50">
                    <button data-filter="*" class="tab-btn active" type="button">Show All</button>
                    <button data-filter=".cat1" class="tab-btn" type="button">Latest</button>
                    <button data-filter=".cat2" class="tab-btn" type="button">Popular</button>
                </div>
            </div>
            <div class="row gx-40 gy-40 filter-active">
                <div class="col-md-6 col-lg-4 cat1 filter-item">
                    <div class="project-card3 wow fadeInUp">
                        <div class="project-img">
                            <img src="../../static/assets/img/project/project_4_1.jpg" alt="project image">
                        </div>
                        <a href="project-details" class="icon-btn" tabindex="-1"><i class="far fa-arrow-up-right"></i></a>
                        <div class="project-content">
                            <p class="project-card_subtitle">Marketing Agency</p>
                            <h4 class="box-title"><a href="project-details">Email Marketing</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 cat2 filter-item">
                    <div class="project-card3 wow fadeInUp">
                        <div class="project-img">
                            <img src="../../static/assets/img/project/project_4_2.jpg" alt="project image">
                        </div>
                        <a href="project-details" class="icon-btn" tabindex="-1"><i class="far fa-arrow-up-right"></i></a>
                        <div class="project-content">
                            <p class="project-card_subtitle">Digital Agency</p>
                            <h4 class="box-title"><a href="project-details">Digital Marketing</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 cat1 filter-item">
                    <div class="project-card3 wow fadeInUp">
                        <div class="project-img">
                            <img src="../../static/assets/img/project/project_4_3.jpg" alt="project image">
                        </div>
                        <a href="project-details" class="icon-btn" tabindex="-1"><i class="far fa-arrow-up-right"></i></a>
                        <div class="project-content">
                            <p class="project-card_subtitle">Marketing Agency</p>
                            <h4 class="box-title"><a href="project-details">Web Development Agency</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 cat2 cat3 filter-item">
                    <div class="project-card3 wow fadeInUp">
                        <div class="project-img">
                            <img src="../../static/assets/img/project/project_4_7.jpg" alt="project image">
                        </div>
                        <a href="project-details" class="icon-btn" tabindex="-1"><i class="far fa-arrow-up-right"></i></a>
                        <div class="project-content">
                            <p class="project-card_subtitle">Digital Agency</p>
                            <h4 class="box-title"><a href="project-details">Market Research Agency</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 cat3 cat4 filter-item">
                    <div class="project-card3 wow fadeInUp">
                        <div class="project-img">
                            <img src="../../static/assets/img/project/project_4_8.jpg" alt="project image">
                        </div>
                        <a href="project-details" class="icon-btn" tabindex="-1"><i class="far fa-arrow-up-right"></i></a>
                        <div class="project-content">
                            <p class="project-card_subtitle">Creative Agency</p>
                            <h4 class="box-title"><a href="project-details">Media Buying Agency</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 cat4 filter-item">
                    <div class="project-card3 wow fadeInUp">
                        <div class="project-img">
                            <img src="../../static/assets/img/project/project_4_9.jpg" alt="project image">
                        </div>
                        <a href="project-details" class="icon-btn" tabindex="-1"><i class="far fa-arrow-up-right"></i></a>
                        <div class="project-content">
                            <p class="project-card_subtitle">Marketing Agency</p>
                            <h4 class="box-title"><a href="project-details">Public Relations Agency</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    {% include 'personal/snippets/footer.html' %}

</body>

</html>