<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% include 'personal/snippets/header.html' %}

</head>

<body class="dark-theme" data-bg-src="../../static/assets/img/bg/dark-bg.png">

    <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="/://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->



    <!--********************************
   		Code Start From Here 
	******************************** -->



    {% include 'personal/snippets/nav.html' %}

    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="../../static/assets/img/bg/breadcumb-bg.jpg" data-overlay="black" data-opacity="8">
        <div class="container">
            <div class="breadcumb-content text-center">
                <h1 class="breadcumb-title">Swyft</h1>
                <ul class="breadcumb-menu">
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
    Project Area
==============================-->
    <section class="space">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="page-single border-bottom">
                        <div class="page-content">
                            <div class="page-content-details">
                                <h2 class="page-title mb-0">Welcome to Swyft</h2>
                                <ul class="page-content-list">
                                    <li><strong>Category :</strong>UI/UX Designing</li>
                                    <li><strong>Clients :</strong>ThemeHoly in Germany</li>
                                    <li><strong>Date :</strong>09 June 2023</li>
                                </ul>
                            </div>
                            <p class="mb-30">Welcome to Swyft! 🎉 Step into a world of possibilities and discovery. We're delighted to have you join us on this journey. Whether you're here to explore our services, gather information, or simply indulge in some browsing, rest assured, you're in the right place. Our team is here to ensure your experience is seamless and enjoyable. Should you have any questions or need assistance along the way, don't hesitate to reach out. Thank you for choosing us, let's make this online adventure unforgettable!</p>
                            <div class="thumb mb-45">
                                <img class="w-100" src="../../static/assets/img/project/project_details_1_1.jpg" alt="img">
                            </div>
                            <h3 class="h4 page-subtitle">The Challenge</h3>
                            <p class="mb-30">Aliquam ac risus consequat, consectetur urna eu, porttitor leo. Suspendisse in cursus nisi. Vivamus lacinia euismod ipsum, eu vehicula neque gravida id. Ut et accumsan augue. Phasellus porttitor placerat sapien in fringilla. Maecenas consequat, leo in accumsan dictum, velit tortor elementum eros, ut facilisis justo quam non justo. Quisque egestas dolor ut sapien accumsan maximus. Duis a elit sit amet eros ornare rutrum. Nullam sed bibendum nisi,</p>
                            <p class="mb-35">Proin posuere felis lectus, viverra molestie metus ornare nec. Integer posuere lacinia nisi, pellentesque pellentesque ligula pulvinar in. Nulla eleifend, quam sed porttitor tempor, tortor enim gravida tortor, sed lobortis mauris lacus ut odio. Vestibulum id felis tincidunt, dignissim massa quis, sodales velit. Curabitur hendrerit tortor et luctus varius.</p>
                            <div class="row gy-40">
                                <div class="col-lg-6">
                                    <div class="thumb">
                                        <img class="w-100" src="../../static/assets/img/project/project_details_1_2.jpg" alt="img">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="thumb">
                                        <img class="w-100" src="../../static/assets/img/project/project_details_1_3.jpg" alt="img">
                                    </div>
                                </div>
                            </div>
                            <h3 class="h4 page-subtitle mt-40">The Solution</h3>
                            <p class="mb-60">Phasellus efficitur arcu ut mi luctus, non tempus est dapibus. Nunc vel maximus sem. Nullam nec magna faucibus, commodo felis vel, hendrerit ante. Vivamus et molestie leo. Suspendisse quis dolor ut tortor vulputate ornare. Vivamus sodales tempus risus vel posuere. Quisque quis enim ac lectus ultrices dapibus. Proin pretium eleifend convallis. Quisque sit amet lacus tincidunt, sollicitudin orci vel, rutrum est.</p>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </section>
    <!--==============================
Contact Area  
==============================-->
<div class="space-top">
    <form action="mail.php" method="POST" class="th-contact-form team-details-form ajax-contact" data-bg-src="../../static/assets/img/bg/feature-bg1.png">
        <div class="form-title mb-30 text-center">
            <h4 class="mt-n1">Login</h4>
        </div>
        <div class="row">
            <div class="col-lg-4 form-group">
                <input type="text" placeholder="Email Address" class="form-control style2">
            </div>
            <div class="col-lg-4 form-group">
                <input type="text" placeholder="Password" class="form-control style2">
            </div>
            <div class="col-lg-4 form-group">
                <input type="text" placeholder="Phone(optional):" class="form-control style2">
            </div>
            <div class="col-12 form-group mb-0 text-center">
                <button class="th-btn">Login <i class="fas fa-arrow-up-right ms-2"></i></button>
            </div>
        </div>
    </form>
</div>
<div>
    <form action="mail.php" method="POST" class="th-contact-form team-details-form ajax-contact" data-bg-src="../../static/assets/img/bg/feature-bg1.png">
        <div class="form-title mb-30 text-center">
            <h4 class="mt-n1">Register</h4>
        </div>
        <div class="row">
            <div class="col-lg-4 form-group">
                <input type="text" placeholder="Email Address" class="form-control style2">
            </div>
            <div class="col-lg-4 form-group">
                <input type="text" placeholder="Password" class="form-control style2">
            </div>
            <div class="col-lg-4 form-group">
                <input type="text" placeholder="Phone(Optional):" class="form-control style2">
            </div>
            <div class="col-12 form-group mb-0 text-center">
                <button class="th-btn">Register <i class="fas fa-arrow-up-right ms-2"></i></button>
            </div>
        </div>
    </form>
</div> {% include 'personal/snippets/footer.html' %}

</body>

</html>